@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

:root {
  --bg: #080808;
  --accent: #B40000;
  --text: #FFFFFF;
  --muted: #6C757D;
  --surface: #111111;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
  background: #080808;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #080808; }
::-webkit-scrollbar-thumb { background: #B40000; }
